# IDEs
.vscode

# Test and development artifacts
__pycache__/
*.pyc
dev-*
.venv/
.cache/
.tox/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
/htmlcov

# Build artifacts
*.egg-info
MANIFEST
build/
dist/


